<div
    class="w-full h-full bg-clr-bg-dark relative p-4">
    <!-- ================= banner effect ========================== -->
    <div
        class="absolute left-1/2 top-1/3 lg:top-1/2 -translate-y-1/2 -translate-x-1/2">
        <div class="banner w-24 h-56 md:w-44 md:h-76 ||">
        </div>
        <div
            class="door h-56 w-24 md:h-76 md:w-44 bg-clr-bg-dark absolute top-1 md:top-2 -left-1 -translate-x-2 flex items-center justify-end ||">
            <img 
                src="assets/img/sarah-logo.png" 
                alt="sarah-logo"
                class="h-40 md:h-50 flex lg:hidden"
            >
        </div>
    </div>
    <!-- ======================= fin banner ===================== -->

    <div
        class="w-full h-full flex flex-col items-center justify-center || lg:flex-row lg:items-center lg:justify-between relative">
        <div
            class="flex flex-col items-center justify-center w-1/2 h-full || ">
            <img 
                src="assets/img/sarah-logo.png" 
                alt="sarah-logo"
                class=" hidden lg:flex lg:h-70 2xl:h-90"
            >
            <p 
                appTextWriter
                [words]="typeText"
                [typeSpeed]="140"
                [deleteSpeed]="80"
                [wordDelay]="1800"
                [betweenDelay]="600"
                [pauseOnHover]="false"
                class="hidden lg:flex text-clr-text-white font-mono text-lg h-8 border-r border-clr-btn-hover items-center">
            </p>
        </div>
        <div
            class=" flex flex-col items-center pt-8 lg:pb-0 lg:justify-center w-full lg:w-1/2 h-full || ">
            <h2
                class="gold text-4xl md:text-7xl lg:text-5xl xl:text-7xl font-erliana py-4">
                Sarah Mode
            </h2>
            <!-- <p class="text-clr-text-white">Puis que l'élégance </p> -->
            <p 
                appTextWriter
                [words]="typeText"
                [typeSpeed]="140"
                [deleteSpeed]="80"
                [wordDelay]="1800"
                [betweenDelay]="600"
                [pauseOnHover]="false"
                class="flex lg:hidden text-clr-text-white font-mono text-lg md:text-3xl h-12">
            </p>
            <button
                class="bg-clr-btn px-8 py-2 rounded-2xl text-xl font-semibold text-clr-bg-dark cursor-pointer || max-lg:mt-8 || btn-gold">
                Contact
            </button>
        </div>
    </div>
    <!-- <div
        class="absolute bottom-0 left-1/2">
        <i class="bi bi-arrow-bottom"></i>
    </div> -->
</div>