.layer{
    position: absolute;
    width: 100%;
    /* height: 100%; */
    left: 0;
    top: 0;
    will-change: transform;
}

.btn-scroll{
    display: none;
}
.btn-scroll.scrollTo{
    display: flex;
}