<header
    class="w-full h-[10vh] fixed top-0 z-10 flex items-center justify-between || bg-clr-bg-dark backdrop-blur-2xl px-4">
    <div
        class="flex items-center gap-3">
        <img 
            src="assets/img/sarah-logo.png" 
            alt="sarah-logo"
            class="h-14"
        >
        <h1
            class="gold font-erliana text-xl md:text-3xl">
            Sarah Mode
        </h1>
    </div>
    <nav
        class="hidden lg:flex items-center gap-4 pr-8">
        <button
            [routerLink]="['']"
            [routerLinkActive]="'gold'"
            class="text-clr-text-white text-xl | cursor-pointer transition-all duration-300 ">
            Acceuil
        </button>
        <button
            [routerLink]="['/album']"
            class="text-clr-text-white text-xl | cursor-pointer transition-all duration-300 hover:text-clr-btn">
            Album
        </button>
        <button
            [routerLink]="['/contact']"
            class="text-clr-text-white text-xl | cursor-pointer transition-all duration-300 hover:text-clr-btn">
            Contact
        </button>
    </nav>
    <button
        (click)="toggleMenu()"
        class="flex lg:hidden gold text-xl md:text-2xl px-1 md: border border-clr-btn-hover rounded-lg | fixed right-3 z-50">
        <i [class]="isMenuOpen ? 'bi bi-x' : 'bi bi-list'"></i>
    </button>

    <app-menu-toggle
        [isOpen]="isMenuOpen"
        (closed)="closeMenu()"
        class="flex lg:hidden"
    ></app-menu-toggle>
</header>